@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="~/css/Venta/Venta.css" rel="stylesheet" />

</head>
<body>
    <div id="content">
        <img src="~/Img/Imagen3.png" class="ribbon">
    </div>

    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="col-sm-8"><h2>Productos</h2></div>
                <div class="search-box">
                    <i class="material-icons">&#xE8B6;</i>
                    <input type="text" class="form-control" placeholder="Codigo del Producto" id="codigoprod">
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div id="tabla">
                    <table id="tablaventa" class="table table-striped table-hover table-bordered" style="min-width:725px; max-width: 825px;">
                        <thead style="background-color:lightgray">
                            <tr>
                                <th style="width:80px;">Prod.#</th>
                                <th style="width:125px;">Codigo</th>
                                <th style="width:220px;">Descripción</th>
                                <th style="width:100px;">Cantidad</th>
                                <th style="width:100px;">Precio U.</th>
                                <th style="width:110px;">SubTotal</th>
                                <th style="width:110px">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a asp-controller="Home" asp-action="Menu" class="btn btn-primary boton">Menu</a>
                    <br />
                    <a asp-controller="Venta" asp-action="GetVentas" class="btn btn-success boton">Buscar Venta</a>
                    <br />
                    <button type="button" class="btn btn-success boton" data-toggle="modal" data-target="#ModalProductos" onclick="ObtenerProductos()">
                        Buscar Producto
                    </button>
                    <br />
                    <button class="btn btn-danger boton" onclick="CancelarVenta()">Cancelaar Venta</button>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-7">
                    <p>Subtotal: <input type="number" id="SubTotal" disabled step="0.01"/> </p>
                    <p>Iva: <input type="number" id="Iva" disabled step="0.01"/></p>
                    <p>Total: <input type="number" id="TotalCompra" disabled step="0.01"/></p>
                </div>
                <div>
                    <p>Efectivo: <input type="number" id="Efectivo" step="0.01"/></p>
                    <button class="btn btn-success boton" style="margin-left:100px; margin-top:10px;" onclick="RealizarVenta()">Pagar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade show" id="ModalProductos" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Productos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tablaproductos" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Descuento</th>
                                <th>Precio</th>
                                <th>Status</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>                            

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts{ 

    <script>
        var productos = new Array();
        var tecla_enter;
        var TotalCompra;
        var SubTotalCompra = 0;
        var valorresta = 0;
        var SubTotal = 0;
        var Empleado = @ViewData["Usuario"];
        var Iva = 0;
        function press_Enter() {
            tecla_enter = event.keyCode;
            if (tecla_enter == 13 && $("#codigoprod").val().length!=0) {

                var codigo = $("#codigoprod").val();
                var producto="Hola";
                $.ajax({
                    url: "https://localhost:44315/api/Producto/Prod/"+codigo,
                    method: "GET"
                }).done(function (data) {
                    if (data.data == null)
                        alert("Este producto no existe")
                    else if (parseInt(data.data.stock) <= 0)
                        alert("cantidad del producto insufuciente para vender");
                    else if (data.data.status == false)
                        alert("Este producto esta desactivado");
                    else if (productos.indexOf(data.data.id) >= 0) {
                         Sumar_Productos(data.data);
                    }
                    else {
                        productos.push(data.data.id);
                        agregarfila(data.data);
                    }
                }).fail(function (jqXHR, textStatus, error) {
                    alert("lo sentimos ha habido un error");
                });
            }
        }
        document.addEventListener('keydown', press_Enter);

        function agregarfila(data) {
            var cantidad = 1
            var descuento=parseFloat(1-data.descuento)
            SubTotal = parseInt(data.precio) * cantidad*descuento;
            var cadena;
            cadena = "<tr>"
            cadena = cadena + "<td>" + data.id + "</td>";
            cadena = cadena + "<td>" + data.codigoProducto + "</td>";
            cadena = cadena + "<td>" + data.descripcion + "</td>";
            cadena = cadena + "<td>" + cantidad + "</td>";
            cadena = cadena + "<td>" + parseInt(data.precio*descuento) + "</td>";
            cadena = cadena + "<td>" + SubTotal + "</td>";
            cadena = cadena + "<td style='width: 150px;'> <a class='aumenta' > <button class='btn' style='width:40px; heigh=40px'; onclick='aumentarCantidad()'><i class='material-icons'>&#xE254;</i></button></a > <a class ='elimina'><button class='btn btn-danger' type='button'><span class='fa fa-remove'></span></button></a></td>";

            sumar()
            $("#tablaventa").append(cadena);
            fn_dar_eliminar();
        }

        function sumar() {

            SubTotalCompra = SubTotalCompra + SubTotal;
            Iva = SubTotalCompra * 0.16;
            TotalCompra = SubTotalCompra * 1.16;
            $("#SubTotal").val(SubTotalCompra.toFixed(2));
            $("#Iva").val(Iva.toFixed(2));
            $("#TotalCompra").val(TotalCompra.toFixed(2));
        }

        function restar() {
            SubTotalCompra = SubTotalCompra - valorresta;
            Iva = SubTotalCompra * 0.16;            
            TotalCompra = SubTotalCompra * 1.16;
            $("#Iva").val(Iva.toFixed(2));
            $("#SubTotal").val(SubTotalCompra.toFixed(2));
            $("#TotalCompra").val(TotalCompra.toFixed(2));
        }

        function fn_dar_eliminar() {
            $("a.elimina").click(function () {
                valorresta = $(this).parents("tr").find("td").eq(5).html();
                valorindex = $(this).parents("tr").index()
                $(this).parents("tr").fadeOut("normal", function () {
                    productos.splice(parseInt(valorindex), 1);
                    $(this).remove();
                    restar();
                });
            });
        };

        function aumentarCantidad() {
            var cantidad = parseInt(prompt("Escoge la cantidad de productos", 1));
            $("a.aumenta").click(function () {
                var Indice = $(this).parents("tr").index();
                var CantidadAc = $(this).parents("tr").find("td").eq(3).html();
                var precioUni = $(this).parents("tr").find("td").eq(4).html();

                if (cantidad >= 1 && Indice >= 0) {
                    var diferencia=cantidad - CantidadAc;
                    document.getElementById("tablaventa").rows[Indice + 1].cells[3].innerHTML = cantidad;
                    document.getElementById("tablaventa").rows[Indice + 1].cells[5].innerHTML = cantidad * precioUni;

                    if (diferencia > 0) {
                        SubTotal = diferencia * precioUni;
                        sumar();
                    }
                    else if (diferencia < 0) {
                        valorresta = diferencia * precioUni * -1;
                        restar();
                    }
                };
            });

        };

        function Sumar_Productos(data) {
            var fila = productos.indexOf(data.id) + 1
            var cantidadproducto = document.getElementById("tablaventa").rows[fila].cells[3].innerHTML;
            var precioUnitario = document.getElementById("tablaventa").rows[fila].cells[4].innerHTML;
            var subtotalproducto = document.getElementById("tablaventa").rows[fila].cells[5].innerHTML;
           
            
            SubTotal = parseFloat(precioUnitario);
            document.getElementById("tablaventa").rows[fila].cells[3].innerHTML =parseInt(cantidadproducto) + 1;
            document.getElementById("tablaventa").rows[fila].cells[5].innerHTML = parseFloat(subtotalproducto) + parseFloat(precioUnitario);
            sumar();
        }

        function ConfirmarVenta() {
            if (confirm('¿Estas seguro de querer descartar los cambios?') == false) {
                event.stopPropagation();
                event.preventDefault();
                return false
            }
            else {
                RealizarVenta();
            }
        }
        function RealizarVenta() {
            var efectivo =parseFloat($("#Efectivo").val());
            var valorcompra = $("#TotalCompra").val();
            var ivacompra = $("#Iva").val();
            var subtotalcompra = $("#SubTotal").val();
            var cambio = parseFloat(efectivo - valorcompra);
            var i = 0;
            if (parseFloat(efectivo) >= parseFloat(valorcompra)) {
                var enviar = "{VentaTotal:" + valorcompra + ",SubTotal:" + subtotalcompra + ",Efectivo:" + efectivo.toFixed(2) + ",Cambio:" + cambio + ",Iva:"+ivacompra+",FormaPago:'Efectivo',EmpleadoId:" + Empleado+",CajaId:1,Status:true,";
                $("#tablaventa tbody tr").each(function (index) {
                    if (i == 0) {
                        enviar += "detallesVentas:[{ProductoId:" + $(this).find('td').eq(0).text() +
                            ",CantiProd:" + $(this).find('td').eq(3).text() +
                            ",VentaProductos:" +$(this).find('td').eq(5).text()+"}"
                    }
                    else {
                        enviar += ",{ProductoId:" + $(this).find('td').eq(0).text() +
                            ",CantiProd:" + $(this).find('td').eq(3).text() +
                            ",VentaProductos:" + $(this).find('td').eq(5).text() + "}"
                    }
                    i++;
                });
                enviar += "]}";

                var json = eval("(" + enviar + ')');
                /*var json3=JSON.stringify(json)
                alert(json3);*/

                $.ajax({
                    url: "https://localhost:44315/api/Venta/",
                    data: JSON.stringify(json),
                    type: "POST",
                    //async: false,//this makes the ajax-call blocking
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json'
                }).done(function (data) {
                    alert("El cambio de la venta es: " + cambio.toFixed(2));
                    Limpiar();
                }).fail(function (jqXHR, textStatus, error) {
                    alert(textStatus);
                });;

            }
            else {
                alert("El dinero pagado es menor al valor de la compra");
            }
        }

        function ObtenerProductos() {
            $.ajax({
                url: "https://localhost:44315/api/Producto",
                method: "GET"
            }).done(function (data) {
                LLenarTablaProductos(data.data);
            }).fail(function (jqXHR, textStatus, error) {
                alert("lo sentimos ha habido un error");
            });
        }

        function LLenarTablaProductos(data) {
            $('#tablaproductos tbody tr').remove();
            var cadena;
            $.each(data, function (index, obj) {
                cadena = "<tr>"
                cadena = cadena + "<td>" + obj.codigoProducto + "</td>";
                cadena = cadena + "<td>" + obj.descripcion + "</td>";
                cadena = cadena + "<td>" + obj.descuento + "</td>";
                cadena = cadena + "<td>" + obj.precio + "</td>";
                cadena = cadena + "<td>" + obj.status + "</td>";
                cadena = cadena + "<td>" +
                    "<button class='btn' style='width:40px; heigh=40px'; onclick = 'LLenarPorModal(" +obj.codigoProducto+")' > <i class='material-icons'>&#xE254;</i></button ></td>";
                $("#tablaproductos").append(cadena);
            });
        }

        function LLenarPorModal(codigoProducto) {
            $.ajax({
                url: "https://localhost:44315/api/Producto/Prod/" + codigoProducto,
                method: "GET"
            }).done(function (data) {
                if (data.data == null)
                    alert("Este producto no existe")
                else if (parseInt(data.data.stock) <= 0)
                    alert("cantidad del producto insufuciente para vender");
                else if (data.data.status == false)
                    alert("Este producto esta desactivado");
                else if (productos.indexOf(data.data.id) >= 0) {
                    Sumar_Productos(data.data);
                }
                else {
                    productos.push(data.data.id);
                    agregarfila(data.data);
                }
                $("#ModalProductos").modal('hide');//ocultamos el modal
                $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
                $('.modal-backdrop').remove();//eliminamos el backdrop del modal
            }).fail(function (jqXHR, textStatus, error) {
                alert("lo sentimos ha habido un error");
            });
        }

        function CancelarVenta() {
            if (confirm('¿Estas seguro de querer descartar los cambios?') == false) {
                event.stopPropagation();
                event.preventDefault();
                return false
            }
            else {
                Limpiar();
            }
        }

        function Limpiar() {
            $('#tablaventa tbody tr').remove();
            $("#codigoprod").val('');
            $("#SubTotal").val('');
            $("#TotalCompra").val('');
            $("#Efectivo").val('');
            $("#Iva").val('');
            productos = new Array();
            TotalCompra;
            SubTotalCompra = 0;
            valorresta = 0;
            SubTotal = 0;
            Iva = 0;
        }
    </script>
}