@page
@model M_chat.Pages.EmpleadoModel
@{
    ViewData["Title"] = "EmpleadoModel";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Bootstrap Simple Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .ribbon {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 8;
            top: 20px;
            width: 400px;
            height: 110px;
            padding: 10px;
        }

        body {
            color: #fff;
            background-image: url(/img/inventario.jpg);
            font-family: 'Roboto', sans-serif;
        }

        .form-control {
            height: 40px;
            box-shadow: none;
            color: #999;
        }

            .form-control:focus {
                border-color: #f2f3f7;
            }

        .form-control, .btn {
            border-radius: 3px;
        }

        .signup-form {
            width: 450px;
            margin: 0 auto;
            padding: 30px 0;
            font-size: 15px;
        }

            .signup-form h2 {
                color: #636363;
                margin: 0 0 15px;
                position: relative;
                text-align: center;
            }

                .signup-form h2:before, .signup-form h2:after {
                    content: "";
                    height: 2px;
                    width: 30%;
                    background: #04d3d9;
                    position: absolute;
                    top: 50%;
                    z-index: 2;
                }

                .signup-form h2:before {
                    left: 0;
                }

                .signup-form h2:after {
                    right: 0;
                }

            .signup-form .hint-text {
                color: #999;
                margin-bottom: 30px;
                text-align: center;
            }

            .signup-form form {
                color: #999;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #f2f3f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .signup-form .form-group {
                margin-bottom: 20px;
            }

            .signup-form input[type="checkbox"] {
                margin-top: 3px;
            }

        font-weight: bold;
        min-width: 140px;
        outline: none !important;
        }

        .signup-form .row div:first-child {
            padding-right: 10px;
        }

        .signup-form .row div:last-child {
            .signup-form .btn {
                font-size: 16px;
                padding-left: 10px;
            }

            .signup-form a {
                color: #fff;
                text-decoration: underline;
            }

                .signup-form a:hover {
                    text-decoration: none;
                }

            .signup-form form a {
                color: #ff0000;
                text-decoration: none;
            }

                .signup-form form a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div id="content">
        <img src="~/img/Imagen3.png" class="ribbon">
    </div>
    <div class="signup-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <h2>Empleado</h2>
            <p class="hint-text">Registre al Empleado</p>

            <div class="form-group">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required">
            </div>
            <div class="form-group">
                <div class="row">
                    <p>
                        <div class="col"><input type="email" class="form-control" name="Correo" placeholder="Correo" required="required"></div>
                        <div class="col"><input type="password" class="form-control" name="Contraseña" placeholder="Contraseña" required="required"></div>
                </div>
                </p>
                <div class="form-group">
                    <input type="text" class="form-control" name="Telefono" placeholder="Telefono" required="required">
                </div>

           
                        <p>

                            Tipo de cuenta:<br>

                            <input type="checkbox" name="Supervisor"required="required"> Supervisor<br>

                            <input type="checkbox" name="Vendedor"required="required"> Vendedor <br>



                        </p>
                        @*<label for="start">Fecha de Contratación:</label>

                        <input type="date" id="start" required="required"
                               value=" 2018-07-22"
                               min="1900-01-01" max="2025-12-31">*@
                        <div class="form-group">
                            <label for="start">Activo:</label>
                            <input type="checkbox" required="required"
                            <form  target="_blank" required="required">
                            </form>
                        </div>
</div>
          
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Agregar </button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Cancelar</button>
            </div>

        </form>
    </div>
</body>
</html>
