@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Login Form with Avatar Image</title>
    <link href="~/css/Home/Index.css" rel="stylesheet" />
    
</head>

<body>
    <div id="content">
        <img src="~/img/Imagen3.png" class="ribbon">

    </div>
    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <div class="avatar">
                <img src="~/img/c015-icon-02-usericon-data-3711470.png" alt="avatar">
            </div>
            <h2 class="text-center">Inicio de Sesión</h2>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Usuario" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
            </div>

        </form>

    </div>

</body>
</html>