@* @model OpenCoolMart.Gui.Models. *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2 class="text-center title">Respaldo</h2>
    <div>
        <input asp-action="Backup" asp-controller="Settings" type="button" class="btn btn-primary col-md-12" value="Respaldar base de datos">
    </div>
</div>
</body>
</html>