@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estadisticas de venta</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
<body>

<div class="text-center">
    <h3>Estadisticas de venta</h3>
</div>
<div class="justify-content-center">
    @* Ventas de: @Html.DropDownList("mes",Meses) *@
    <div class="float-right">
        Filtrar: <input class="text-center" id="mesanio" type="month">
    </div>
    <br>
    <br>
    <br>
    <table class="columns">
        <tr>
            <td>
                <div id="piechart_div_mes" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</div>
</body>
</html>
@section Scripts
{
    <script>
            let token;
            // var cbxMes = document.getElementById('mes') 
            var cbxmesanio = document.getElementById('mesanio') 
            // cbxMes.addEventListener('change',productoMes)
            cbxmesanio.addEventListener('change',productoMes)
            $(document).ready(function () {
                // $.ajax({
                //     url: "/Home/AsyncToken",
                //     method: "GET"
                // }).done(function (data) {
                //     Token = data;
                // }).fail(function (jqXHR, textStatus, error) {
                //     alert("lo sentimos ha habido un error");
                // });
               
                productoMes()
            });
            function productoMes(){
                var anio = cbxmesanio.value.slice(0,4)
                var mes = cbxmesanio.value.slice(5,7)
                if (mes.startsWith('0')){mes = mes.slice(1,2)}
                let date = new Date(cbxmesanio.value.replace(/-+/g, '/'))
                let options = {
                year: 'numeric',
                month: 'long',
                };
                 $.ajax({
                                          type: 'GET',
                                          dataType: "json",
                                          contentType: "application/json",
                                          // headers: { "Authorization": "Bearer " + Token },
                                          url: 'https://localhost:44315/api/grafica?mes='+mes+'&anio='+anio,
                                          success: function (result) {
                                              google.charts.load('current', {
                                                  'packages': ['corechart']
                                              });
                                              google.charts.setOnLoadCallback(function () {
                                                  drawChart(result);
                                              });
                                          }
                                      });
                                      function drawChart(result) {
                                          var data = new google.visualization.DataTable();
                                          data.addColumn('string', 'Name');
                                          data.addColumn('number', 'Cantidad');
                                          var dataArray = [];
                                          $.each(result, function (i, obj) {
                                              dataArray.push([obj.producto, obj.cantidadProducto]);
                                          });
                                          var titulo;
                                          data.addRows(dataArray);
                                          if (anio === "" && mes === ""){
                                              titulo = `Los 10 productos mas vendidos`
                                          }
                                          else {
                                              titulo = `Los 10 productos mas vendidos en ${date.toLocaleDateString('es-MX', options)}`
                                          }
                                          var piechart_options = {
                                              title: titulo,
                                              width: screen.width-200,
                                              height: 300
                                          };
                                              var piechart = new google.visualization.PieChart(document.getElementById('piechart_div_mes'));
                                              piechart.draw(data, piechart_options);        
                                      }
            }
        </script>
}
